*{
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
}

.body {
  padding-top: 20px;
}

.input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .5);
  background: rgba(255, 255, 255, .5);
  outline: none;
  color: #333;
}

select.input {
  cursor: pointer;
}

div.button {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(212, 75, 56);
  padding: .7em 1.5em;
  outline: none;
  width: 150px;
  cursor: pointer;
  text-align: center;
} 
div.button:hover { background: rgba(232, 95, 76, 0.5);
div.button:active { background: rgb(152, 15, 0); }
